:root {
	--color-gray-dark: #313131;
	--color-gray-extra-dark: #1f1f1f;
	--color-gray-light: #d6d6d6;
	--color-bg-light: #e9ded4;
	--color-white: #ffffff;
	--color-accent: #f54932;
	--color-primary: #3057a2;
	--color-highlight: #fbce51;
	--color-grey: #d0d0d0;
}
